<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- xml HuongTT begin-->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.team3.onlineshopping.filter.SystemFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ComLoginServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComRegisterServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComLogoutServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusUpdateAddressDetailServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusUpdateAddressDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusDeleteAddressServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusDeleteAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleOrderServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerSalesman.SaleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleOrderDetailsServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerSalesman.SaleOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerAdmin.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerAdmin.AdminUserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUserServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerAdmin.AdminUpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktAddProductServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktDeleteServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktProductDetailServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktProductListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktCustomerListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktCustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktCustomerDetailsServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktCustomerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleCustomerListDetailsServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerSalesman.SaleCustomerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubCartCompletionServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubCartCompletionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktPostCreateServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktPostCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktPostListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktPostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktPostDetailServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktPostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktDeletePostServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktDeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktPostEditServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktPostEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubViewPostListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubViewPostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubPostDetailServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubPostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktSliderListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktSliderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktSliderDetailServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktSliderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktDeleteSliderServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktDeleteSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktAddSliderServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktAddSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDeleteOrderServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerSalesman.SaleDeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusMyOrderServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerAdmin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusLoginGoogleServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusLoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusOrderDetailsServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerSalesman.SaleDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusFeedbackServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktAddCollectionServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktAddCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktCollectionListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktCollectionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktFeedBackListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktFeedBackListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktFeedBackDeltaiServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktFeedBackDeltaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleExportExcelServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerSalesman.SaleExportExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MktDashboardServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerMarketer.MktDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubAccessDenial</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubAccessDenial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubCollectionListServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubCollectionListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComLoginServlet</servlet-name>
        <url-pattern>/com_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComRegisterServlet</servlet-name>
        <url-pattern>/com_register</url-pattern>
    </servlet-mapping>
    <!-- xml HuongTT end-->
    <!--=================================================-->
    <!--=================================================-->
    <!--=================================================-->
    <!-- XML AnhPh Begin -->
    <servlet>
        <servlet-name>ComUpdateProfileServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComChangePassServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComResetPassword</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComNewPassword</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComNewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComUpdateAvatarServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCommon.ComUpdateAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusUpdateAddressServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusUpdateAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComUpdateProfileServlet</servlet-name>
        <url-pattern>/com_upprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComChangePassServlet</servlet-name>
        <url-pattern>/com_changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComResetPassword</servlet-name>
        <url-pattern>/com_resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComNewPassword</servlet-name>
        <url-pattern>/com_newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComUpdateAvatarServlet</servlet-name>
        <url-pattern>/com_upavar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusUpdateAddressServlet</servlet-name>
        <url-pattern>/cus_upaddress</url-pattern>
    </servlet-mapping>
    <!-- XML AnhPh End -->
    <!--=================================================-->
    <!--=================================================-->
    <!--=================================================-->
    <!-- XML Thai Begin -->
    <servlet>
        <servlet-name>PubViewProduct</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubSearchProduct</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubSearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubFilterProduct</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubFilterProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PubViewProduct</servlet-name>
        <url-pattern>/pub_viewproductlistbycategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubSearchProduct</servlet-name>
        <url-pattern>/pub_searchproductbyproductname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubFilterProduct</servlet-name>
        <url-pattern>/pub_filterpriceandsizeproduct</url-pattern>
    </servlet-mapping>
    <!-- XML Thai End -->
    <!--=================================================-->
    <!--=================================================-->
    <!--=================================================-->
    <!-- XML AnhTV Begin -->
    <servlet>
        <servlet-name>PubProductDetailsServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubCartServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubAddCartServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubAddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubRemoveCartServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubRemoveCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PubProductDetailsServlet</servlet-name>
        <url-pattern>/pub_productdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubCartServlet</servlet-name>
        <url-pattern>/pub_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubAddCartServlet</servlet-name>
        <url-pattern>/pub_addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubRemoveCartServlet</servlet-name>
        <url-pattern>/pub_removecart</url-pattern>
    </servlet-mapping>
    <!-- XML AnhTV End -->
    <!--=================================================-->
    <!--=================================================-->
    <!--=================================================-->
    <!-- xml MinhBD begin -->
    <servlet>
        <servlet-name>PubHomeServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerPublic.PubHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusCartContactServlet</servlet-name>
        <servlet-class>com.team3.onlineshopping.controllerCustomer.CusCartContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PubHomeServlet</servlet-name>
        <url-pattern>/pub_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusCartContactServlet</servlet-name>
        <url-pattern>/cus_cartcontact</url-pattern>
    </servlet-mapping>
    <!-- xml MinhBD end -->
    <servlet-mapping>
        <servlet-name>ComLogoutServlet</servlet-name>
        <url-pattern>/com_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusUpdateAddressDetailServlet</servlet-name>
        <url-pattern>/cus_upadddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusDeleteAddressServlet</servlet-name>
        <url-pattern>/cus_deladdress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleOrderServlet</servlet-name>
        <url-pattern>/sale_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleOrderDetailsServlet</servlet-name>
        <url-pattern>/sale_orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/ad_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserListServlet</servlet-name>
        <url-pattern>/ad_userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUserServlet</servlet-name>
        <url-pattern>/ad_upuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktAddProductServlet</servlet-name>
        <url-pattern>/mkt_addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktDeleteServlet</servlet-name>
        <url-pattern>/mkt_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktProductDetailServlet</servlet-name>
        <url-pattern>/mkt_productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktProductListServlet</servlet-name>
        <url-pattern>/mkt_productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktCustomerListServlet</servlet-name>
        <url-pattern>/mkt_cuslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktCustomerDetailsServlet</servlet-name>
        <url-pattern>/mkt_cusdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubCartCompletionServlet</servlet-name>
        <url-pattern>/pub_completion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktPostCreateServlet</servlet-name>
        <url-pattern>/mkt_postcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktPostListServlet</servlet-name>
        <url-pattern>/mkt_postlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktPostDetailServlet</servlet-name>
        <url-pattern>/mkt_postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktDeletePostServlet</servlet-name>
        <url-pattern>/mkt_deletepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktPostEditServlet</servlet-name>
        <url-pattern>/mkt_postedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubViewPostListServlet</servlet-name>
        <url-pattern>/pub_viewpostlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubPostDetailServlet</servlet-name>
        <url-pattern>/pub_postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktSliderListServlet</servlet-name>
        <url-pattern>/mkt_sliderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktSliderDetailServlet</servlet-name>
        <url-pattern>/mkt_sliderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktDeleteSliderServlet</servlet-name>
        <url-pattern>/mkt_deleteslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktAddSliderServlet</servlet-name>
        <url-pattern>/mkt_addslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDeleteOrderServlet</servlet-name>
        <url-pattern>/sale_deleteorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusMyOrderServlet</servlet-name>
        <url-pattern>/cus_myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/ad_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusLoginGoogleServlet</servlet-name>
        <url-pattern>/cus_googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusOrderDetailsServlet</servlet-name>
        <url-pattern>/cus_orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardServlet</servlet-name>
        <url-pattern>/sale_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusFeedbackServlet</servlet-name>
        <url-pattern>/cus_feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktAddCollectionServlet</servlet-name>
        <url-pattern>/mkt_addcollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktCollectionListServlet</servlet-name>
        <url-pattern>/mkt_collectionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktFeedBackListServlet</servlet-name>
        <url-pattern>/mkt_feedbacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktFeedBackDeltaiServlet</servlet-name>
        <url-pattern>/mkt_feedbackdeltai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleExportExcelServlet</servlet-name>
        <url-pattern>/sale_exportexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MktDashboardServlet</servlet-name>
        <url-pattern>/mkt_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubAccessDenial</servlet-name>
        <url-pattern>/pub_accessdenial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubCollectionListServlet</servlet-name>
        <url-pattern>/pub_collectionlist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
